.cards-container{
    display: flex;
    justify-content: space-between;
}
.main-container{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

::ng-deep .card-button-cancel{
    background-color: rgb(32, 82, 148) !important;
}