<!-- <input id="Caixa1" value="não dinâmico" type="text" />
<input id="Caixa2" [value]="textoDinamico" type="text" />
<input id="Caixa3" [value]="textoDinamico" type="password" />
<input id="Caixa4" value="texto" type="text" [disabled]="isDisable" />

<br>

<button (click)="enableInput()" >Habilitar</button>
<button (click)="disableInput()">Desabilitar</button>

<br>

<input id="Caixa5" value="lalala" [type]="typeInput" />

<br>

<button (click)="passwordInput()" >Senha</button>
<button (click)="textInput()">Texto</button>

<p>quantos clicks dei: {{contador}}</p>
<button (click)="contaClick()">click</button>

<button [attr.disabled] = "buttonDisable ? true : null">Teste</button>

<br>

<button [style.width.px]="widthbutton" [style.backgroundColor]="backgroundColor">botao</button>

<br><br>

<button [class.red-button]="isRedButton" (click)="isGreen = false;">Vermelho</button>
<button [class.green-button]="true" (click)="isGreen = true">Verde</button>

<br><br>

<button [class]="{
    'green-button': !isGreen,
    'red-button': isGreen
}">Objeto</button>



<app-card [nome]="nome"></app-card>
<app-button-sim [texto]="textoButton1"></app-button-sim>
<app-button-sim [texto]="textoButton2"></app-button-sim>
<app-card-declaracao [textoDeclaracao]="texto"></app-card-declaracao> -->

<app-contador-component (Contador)="onContador($event)"></app-contador-component>
<p>Valor atual: {{valorDoFilho}}</p>