.card-button {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        border-radius: 25px;
        background-color: rgb(209, 94, 255);
        cursor: pointer;
        font-weight: bold;
        cursor: pointer;
        font-weight: bold;
        padding: 10px;
    }