a {
    text-decoration: none;
    color: white;
    text-align: center;
}


li {
    padding: 10px;
    margin: 20px 0;
    border: 3px solid gray;
    width: 100%;
    text-align: center;
    list-style: none;
    border-radius: 10px;
}